.home {
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  // height: calc(100vh - 4rem);
  width: 100%;

  > section {
    width: 100%;
    height: 32.75rem;
    margin: auto;
    background: url("../components/demo/assets/productimgmerstack.webp") no-repeat center / cover;
  }

  > h1 {
    @include heading(1px);
    margin-top: 3rem;
    @include flex(row, space-between, center);
  }

  .findmore {
    font-size: 3.9rem;
    color: #416D50; 
    transition: transform 0.2s ease; /* Add transition for smooth animation */
}

.findmore:hover {
    transform: translateY(2px); /* Apply translation on hover */
}



  > main {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin-top: 2rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}



.product-card {
  width: 18.75rem;
  height: 27rem;
  padding: 1rem;
  flex: none;
  border: 2px solid #416D50;
  border-radius: 20px;
  @include flex(column, flex-start, center, 4px);
  
  // background-color: #E9F3ED;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);

  img {
    border-radius: 4px;
    @include square(calc(18.75rem - 3rem));
    object-fit: cover;
  }
  p{

    font-size:1.5rem;
    color:black;
    font-weight: bold;
  }

  span {
    font-weight: 700;
    font-size: 30px;
    color: #24422E;
  }

  > div {
    @include square(100%);
    // top: 0;
    // left: 0;
    // background-color: #0000006b;
    @include flex;
    button {
      @include flex;
      // @include square(6rem);
      height: 3rem;
      width: 11rem;
      border-radius: 30px;
      border: none;
      border: 2px solid #24422E;
      // background-color: #D247BF;
      cursor: pointer;
      color: #FFFF;
      // font-size: 1.6rem;
      transition: all 0.3s;
      &:hover {
        letter-spacing: 3px;
      }
      color: #24422E;
    }

  }
}

.btnviewmore{
   color: red;
   font-size: 40px;
}

.youtubeicon{
  height: 20px;
}
.startheight{
  font-size: 25px;
}

.addcardbtn{
  font-size: 30px;
  color:#24422E ;
}
