.dashboard-product-box {
  background-color: white;
  padding: 2rem;
  overflow: auto;
  @include square(100%);
}

.create-product-btn {
  position: fixed;
  right: 2rem;
  top: 2rem;
  @include square(2.5rem);
  @include flex(row, center, center, 0);
  border-radius: 50%;
  background-color: rgb(201, 9, 9);
  color: white;
  &:hover {
    opacity: 0.8;
  }
}
.product-delete-btn {
  background-color: rgb(56, 56, 56);
  color: white;
  font-size: 1.2rem;
  @include square(2.5rem);
  @include flex;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
}

.product-management {
  @include flex(row, center, unset);
  padding: 4rem;

  > section {
    overflow-y: auto;
    width: 100%;
    height: 85vh;
    max-width: 500px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.216);
    background-color: white;
    padding: 5rem;
    @include flex(column, unset, unset, 1rem);
    position: relative;
    border-radius: 5px;

    > h2 {
      @include heading(2px);
      text-align: center;
    }

    > img {
      @include square(100%);
      object-fit: contain;
    }

    > strong {
      font-weight: 300;
    }

    > span {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }

    > p {
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    > h3 {
      text-align: center;
      font-size: 2rem;
    }
  }

  > article {
    height: 85vh;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);
    position: relative;

    > form {
      @include flex(column, unset, center, 2rem);
      > h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      > img {
        @include square(5rem);
        object-fit: cover;
        border-radius: 5px;
      }

      > div {
        width: 100%;
        position: relative;
        > label {
          position: absolute;
          left: 0;
          top: -1.5rem;
        }

        > input {
          @include inputStyle(
            100%,
            1rem,
            unset,
            1px solid rgba(13, 13, 13, 0.196)
          );
          border-radius: 5px;
        }
      }

      > button {
        padding: 1rem;
        border: none;
        background-color: rgb(5, 107, 224);
        color: white;
        width: 100%;
        border-radius: 5px;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }

  .shipping-info-card {
    > h1 {
      text-align: center;
      @include heading(2px);
    }
    > h5 {
      margin: 2rem 0 0 0.5rem;
      font-size: 1.1rem;
      font-weight: 700;
    }
    > p {
      margin: 0.5rem;
    }
    > .shipping-btn {
      margin: 2rem 0;
      padding: 1rem;
      border: none;
      background-color: rgb(5, 107, 224);
      color: white;
      width: 100%;
      border-radius: 5px;
      font-size: 1.1rem;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.transaction-product-card {
  @include flex(row, unset, center, 1rem);

  > img {
    @include square(4rem);
    object-fit: cover;
    border-radius: 5px;
  }
  > span {
    margin-left: auto;
  }
}

// =====>>>>  card detail   <<========================
// .parent_container {
//   border: 2px solid yellow;
//   display: flex;
//   flex-wrap: wrap; /* Allow children to wrap to the next line */
//   // gap: 5rem;
//   justify-content: space-evenly;
// }

// .product-detail {
//   border: 2px solid green;
//   width: 40%; /* Initial width */

  
// }

// /* Adjust width for smaller screens */
// @media screen and (max-width: 500px) {
//   .product-detail {
//     width: 100%; /* Full width for screens smaller than 768px */
//   }
// }

// .detailcart{
//   border: 2px solid yellow;
//   width: 50%;

//   >p{
//     margin-left: 2rem;
//     margin-top: 1rem;
//     font-size: 30px;
//     // text-align: center;
//   }
//   >h1{
//     font-size: 13px;
//     margin-left: 2rem;
//     >span{
//       font-size: 18px;
//     }
//   }
//   >h3{
//     font-size: 23px;
//     margin-left: 2rem;
//   }

// }
// .description{
//   font-size: 25px;
//   margin-left: 2rem;
// }
// .exclusivestock{
//   display: flex;
//   flex-direction: row;
//   margin-left: 2rem;
//   gap: 3px;
  
// }



.parent_container {
 
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    border: 2px solid #416D50;
}

.product-detail {
  flex: 1;
  margin-bottom: 20px;
}

.product-detail img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.detailcart {
  flex: 1;
  margin-left: 2%;
}

.detailcart p {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #24422E;
}

.description {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.detailcart h1 {
  font-size: 18px;
  >span{
    font-size: 22px;
  }
}
.detailcart h2{
  color: #D247BF;
  font-size: 20px;
}

.detailcart h3 {
  font-size: 24px;
  color: #333;
}

.green {
  color: green;
  font-size: 18px;
}

.red {
  color: red;
}

.exclusivestock {
  display: flex;
  align-items: center;
}

.exclusivestock svg {
  margin-right: 5px;
}

.detailcart > div {
  margin-bottom: 10px;
}

.detailcart  {
  // cursor: pointer;
  color: #24422E;
  display: inline-block;
  margin-right: 10px;
  
}

.add-to-cart-btn {
  display: inline-block;
    border: 2px solid  #416D50;
    color: #416D50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    border-radius: 20px;
    margin-top: 10px;
}

/* Button hover effect */
.add-to-cart-btn:hover {
  // background-color: #45a049;
  color: #D247BF;
}

/* Button active effect */
.add-to-cart-btn:active {
  background-color: #f5f5f5;
  transform: translateY(1px); /* Move button down slightly when clicked */
}



/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .parent_container {
    flex-direction: column;
    align-items: stretch;
  }

  .product-detail,
  .detailcart {
    width: 100%;
    margin-right: 0;
  }
}

.buy_btn_cart{
  display: inline-block;
    background:  #416D50;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    border-radius: 20px;
    margin-top: 10px;
}

.buy_btn_cart:active{
  // background-color: #f5f5f5;
  transform: translateY(1px);
}
.des_two{
  font-size: 17px;
}